<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>KAKWACHA FOODS - ORDER</title>
    </head>
    <body>
        <h1>KAKWACHA FOODS - ORDER</h1>
        <form method="post" action="/order/create">
            <table>
                <tr>
                    <td><label for="tableno">Table_No:</label></td>
                    <td><input type="text" name="tableno"></td>
                </tr>
                <tr>
                    <td><label for="waiter">Waiter_Name:</label></td>
                    <td><input type="text" name="waiter"></td>
                </tr>
                <tr>
                    <td><label for="food">Food_required:</label></td>
                    <td><input type="text" name="food"></td>
                </tr>
                <tr>
                    <td><label for="beverage">Beverage:</label></td>
                    <td><input type="text" name="beverage"></td>
                </tr>
                <tr>
                    <td><input type='submit' name='Order'></td>
                </tr>
            </table>
        </form>
    </body>
</html>

