<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>KAKWACHA FOODS</title>
    </head>
    <body>
        <h1>KAKWACHA FOODS</h1>
        <ul>
            <li><%= @order.tableno %></li>
        </ul>
        <a href="/movies/new">Ongeza Chakula</a>
    </body>
</html>

